services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: myosint_bot
    restart: always
    privileged: true          # если нужно
    cap_add:
      - SYS_RAWIO             # если нужно
    depends_on:
      - db
      - sphinx
    env_file:
      - ./bot/.env
    environment:
      - HOST_LAN_IP=${YOUR_HOST_IP}
      - SPHINX_HOST=sphinx
      - SPHINX_PORT=9306
    volumes:
      # Логи и данные детектора движений
      - ./bot/motion_debug.log:/app/bot/motion_debug.log
      - ./bot/rtsp_motion_frames:/app/bot/rtsp_motion_frames
      - ./bot/rtsp_motions_log.csv:/app/bot/rtsp_motions_log.csv
      # Конфиги камер и пользователей — на хосте
      - ./bot/cameras.json:/app/bot/cameras.json:ro
      - ./bot/allowed_users.json:/app/bot/allowed_users.json
      - ./bot/user_stats.json:/app/bot/user_stats.json

      - /proc/loadavg:/host_loadavg:ro
      - /proc/uptime:/host_uptime:ro
      # - /sys/class/hwmon:/host_sys/class/hwmon:ro   # для Linux
    networks:
      - app-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  db:
    build:
      context: ./docker/mysql
      dockerfile: Dockerfile
    container_name: mariadb_server
    restart: always
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    env_file:
      - ./bot/.env
    environment:
      DB_ROOT_PASSWORD: !w1JM6bD2If7
      MARIADB_ROOT_PASSWORD: !w1JM6bD2If7
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_HOST: "%"
    ports:
      - "3306:3306"
    volumes:
      - ./docker/mysql/conf.d/99-custom.cnf:/etc/mysql/conf.d/99-custom.cnf:ro
      - db_data:/var/lib/mysql
    networks:
      - app-network
  sphinx:
    build:
      context: ./docker/sphinx
      dockerfile: Dockerfile
    container_name: sphinx
    restart: always
    ports:
      - "9312:9312"
      - "9306:9306"
    volumes:
      # ваш конфиг
      - ./docker/sphinx/sphinx.conf :/etc/sphinxsearch/sphinx.conf:ro
      - sphinx-data:/var/lib/sphinxsearch
      - sphinx-logs:/var/log/sphinxsearch
      - sphinx-run:/var/run/sphinxsearch
    networks:
      - app-network
volumes:
  db_data:
  sphinx-data:
  sphinx-run:
  sphinx-logs:

networks:
  app-network:
    driver: bridge
