# ./docker/mysql/conf.d/99-custom.cnf
[mysqld]
performance_schema = ON
wait_timeout          = 300
interactive_timeout   = 300

# InnoDB
innodb_buffer_pool_size        = 4G
innodb_buffer_pool_instances   = 5
innodb_log_file_size           = 512M
innodb_log_files_in_group      = 2
innodb_log_buffer_size         = 256M
innodb_flush_method            = O_DIRECT

# MyISAM / KEY buffer
key_buffer_size                = 16M

# Cache / limits
table_open_cache               = 2000
open_files_limit               = 65535

plugin-load-add=ngram=ngram.so