# ./docker/mysql/conf.d/99-custom.cnf

[mysqld]
performance_schema=ON
wait_timeout=300
interactive_timeout=300

innodbbufferpool_size=5G
innodbbufferpool_instances=5
innodblogfile_size=256M
innodblogfilesingroup=2
innodblogbuffer_size=128M
innodbflushmethod=O_DIRECT

keybuffersize=16M

tableopencache=2000

openfileslimit=65535
