# 99-custom.cnf

[mysqld]
# — для более полной диагностики
performance_schema = ON

# — кеш открытых таблиц
table_open_cache = 6000

# — таймауты висящих соединений
wait_timeout = 300
interactive_timeout = 300

# — InnoDB: 70–80% RAM
innodb_buffer_pool_size    = 2G

# — общий размер redo-логов ~25% от буфера
innodb_log_file_size       = 512M
innodb_log_files_in_group  = 2

# — буфер логов для больших транзакций
innodb_log_buffer_size     = 128M
